{% extends 'base.html.twig' %}

{% block title %}TagPost index{% endblock %}

{% block body %}
    <h1>TagPost index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag_post in tag_posts %}
            <tr>
                <td>{{ tag_post.id }}</td>
                <td>
                    <a href="{{ path('tag_post_show', {'id': tag_post.id}) }}">show</a>
                    <a href="{{ path('tag_post_edit', {'id': tag_post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tag_post_new') }}">Create new</a>
{% endblock %}
